{% extends 'back.html.twig' %}

{% block title %}Hotelindex{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>location</th>
            <th>nbrrooms</th>
            <th>nbretoiles</th>
            <th>caract</th>

        </tr>
        </thead>
        <tbody>
        {% for h in Hotel %}
            <tr>
                <td>{{ h.id }}</td>
                <td>{{ h.name}}</td>
                <td>{{ h.location}}</td>
                <td>{{ h.nbrrooms}}</td>
                <td>{{ h.nbretoiles}}</td>
                <td>{{ h.caract}}</td>
                <td>
                    <a href="{{ path('updateh', {'id': h.id}) }}">update</a>
                    <a href="{{ path('deleteh', {'id': h.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('addh') }}">Create new</a>
{% endblock %}