{% extends 'back.html.twig' %}

{% block title %}Roomsindex{% endblock %}

{% block body %}
    <h1>Rooms</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>categorie</th>
            <th>etage</th>
            <th>nbrlits</th>
            <th>prix</th>


        </tr>
        </thead>
        <tbody>
        {% for R in Rooms %}
            <tr>
                <td>{{ R.id }}</td>
                <td>{{ R.categorie}}</td>
                <td>{{ R.etage}}</td>
                <td>{{ R.nbrlits}}</td>
                <td>{{ R.prix}}</td>


                <td>
                    <a href="{{ path('updateR', {'id': R.id}) }}">update</a>
                    <a href="{{ path('deleteR', {'id': R.id}) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="addR">Create new</a>
{% endblock %}