
{% block title %}  {% endblock %}
<style>
    body {
        background-image: url({{ asset('front-office/img/photo/photo-1522143049013-2519756a52d4.jpg') }});
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
{% block body %}
    <form style="color: lightcoral " action="{{ path('ajout2') }}" method="post">
    <h1 align="center"> Ajouter Compte </h1>
    {{ form_start(form) }}
    <table align="center" >
        <tr style="color: lightcoral" align="center">
            <td >{{ form_label(form.firstName,"Votre prenom") }}</td>
            <td>{{ form_widget(form.firstName) }}</td>
            <td>{{ form_errors(form.firstName) }}</td>

        </tr>

        <tr style="color: lightcoral" align="center">
            <td>{{ form_label(form.lastName,"Votre nom") }}</td>
            <td>{{ form_widget(form.lastName) }}</td>
            <td>{{ form_errors(form.lastName) }}</td>
        </tr>
        <tr style="color: lightcoral" align="center">
            <td>{{ form_label(form.email,"Email") }}</td>
            <td>{{ form_widget(form.email) }}</td>
            <td>{{ form_errors(form.email) }}</td>
        </tr>
        <tr style="color: lightcoral" align="center">
            <td align="center">{{ form_label(form.datenaiss,"date de naissance") }}</td>
            <td>{{ form_widget(form.datenaiss) }}</td>
            <td>{{ form_errors(form.datenaiss) }}</td>
        </tr>
        <tr style="color: lightcoral" align="center">
            <td align="center">{{ form_label(form.password,"mot de passe") }}</td>
            <td align="center">{{ form_widget(form.password) }}</td>
            <td align="center">{{ form_errors(form.password) }}</td>
        </tr>
    </table>

    {{ form_end(form) }}
    </form>
{% endblock %}