{% extends 'base.back.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <p>editer un Guide</p>
</div>
<div class="container">
    <div class="row">
        {{ form_start(form) }}
        <table>
            <tbody>
            <tr>
                <th>Name:</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Age:</th>
                <td>{{ form_widget(form.age) }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ form_widget(form.save) }}</td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
     <a href="/guide">Retour</a>
</div>
{% endblock body %}